@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-VariableFont_slntwght.ttf);
}

@font-face {
  font-family: "Lexend Deca";
  src: url(../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}

%flex-col {
  display: flex;
  flex-direction: column;
}

html {
  font-size: 1.5rem;
  font-weight: 400;
}

body {
  font-family: "Inter";
  color: hsl(0, 0%, 100%);
  background-color: hsl(233, 47%, 7%);

  @extend %flex-col;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-wrapper {
  max-width: 40rem;
  background-color: hsl(244, 38%, 16%);
  @extend %flex-col;
  text-align: center;
  img {
    width: 100%;
  }
}

.content-header {
  h1 {
    font-size: 2rem;
    font-weight: 700;
    span {
      color: hsl(277, 64%, 61%);
    }
  }
  p {
    color: hsla(0, 0%, 100%, 0.75);
  }
}

.stat-item {
  span {
    font-size: 2rem;
    font-weight: 700;
  }
  p {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
  }
}
